{% extends "base.html" %}

        {% block content %}
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1>Profile</h1>
                    <h2>{{ current_user.username}}</h2>
                    <h2>{{ current_user.email}}</h2>
                    <img src="{{image_file}}" alt="Profile" title="Profile"/>
                    
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>
                            <a>Link</a>
                        </li>
                        <li>
                            <a>Link</a>
                        </li>
                    </ul>
                </div>
        
        </div>
        
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1>Update</h1>
                    <form method="POST" action="" novalidate>
                        {{ form.hidden_tag() }}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Account info</legend>
                            <div class="form-group">
                                {{ form.username.label(class="form-control-label")}}
                                {% if form.username.errors %}
                                    {{ form.username(class="form-control form-control-lg is-invalid")}}
                                    <div class="invalid-feedback">
                                        {% for error in form.username.errors %}
                                        <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.username(class="form-control form-control-lg")}}
                                {% endif %}
                                

                            </div>
                            <div class="form-group">
                                {{ form.email.label(class="form-control-label")}}
                               
                                {% if form.email.errors %}
                                    {{ form.email(class="form-control form-control-lg is-invalid")}}
                                    <div class="invalid-feedback">
                                        {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.email(class="form-control form-control-lg")}}
                                {% endif %}
                            </div>
                            
                            
                        </fieldset>
                        <div class="form-group">
                            {{ form.submit(class="btn btn-info")}}
                        </div>
                    </form>
                </div>
                
        
        </div>
        
        </div>
            
        {% endblock content %}
        