{% extends "base.html" %}

        {% block content %}
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1>Home</h1>
                    {% for post in posts %}
                    <div class="border border-success m-2 p-1">
                        <img class="img-thumbnail" src="{{url_for('static',filename='img/'+post.author.image_file)}}"/>
                        <h3>{{ post.title }}</h3>
                        <p>{{ post.content }}</p>
                        <small class="text-muted">{{ post.date_posted.strftime("%Y-%m-%d") }}</small>
                        <small class="text-muted">{{ post.author.username }}</small>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>
                            <a>Link</a>
                        </li>
                        <li>
                            <a>Link</a>
                        </li>
                    </ul>
                </div>
        
        </div>
        
        </div>
            
        {% endblock content %}
        