{% extends "base.html" %}

        {% block content %}
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1>Post</h1>
                    {% if post: %}
                    <div class="border border-success m-2 p-1">
                        <img class="img-thumbnail" src="{{url_for('static',filename='img/'+post.author.image_file)}}"/>
                        <h3 class="article-title">{{ post.title }}</h3>
                        <p>{{ post.content }}</p>
                        <small class="text-muted">{{ post.date_posted.strftime("%Y-%m-%d") }}</small>
                        <small class="text-muted">{{ post.author.username }}</small>
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-4 menu-opciones">
                    {% if post.author == current_user %}
                    <ul>
                        <li>
                            <a class="btn btn-warning" href="{{url_for('update_post',post_id=post.id)}}">Modificar</a>
                        </li>
                        <li>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
                                Delete
                            </button>
                        </li>
                    </ul>
                    {% endif %}
                </div>
        
        </div>
        
        </div>
        
         <!-- Modal -->
         <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete post?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                <p>Are you sure you want to delete the post {{post.title}}?</p>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="{{url_for('del_post',post_id=post.id)}}" method="POST">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </form>    
                </div>
            </div>
            </div>
        </div>
        
   

        {% endblock content %}

       