{% extends "base.html" %}

        {% block content %}
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1>List of Posts by user {{user.username}}</h1>
                    <h2>Total: {{ posts.total}}</h2>
                    {% for post in posts.items %}
                    <div class="border border-success m-2 p-1">
                        <img class="img-thumbnail" src="{{url_for('static',filename='img/'+post.author.image_file)}}"/>
                        <h3 class="article-title"><a href="{{url_for('post',post_id=post.id)}}">{{ post.title }}</a></h3>
                        <p>{{ post.content }}</p>
                        <small class="text-muted">{{ post.date_posted.strftime("%Y-%m-%d") }}</small>
                        <a  href="{{url_for('user_posts',username=post.author.username)}}"><small class="text-success">{{ post.author.username }}</small></a>
                        </div>
                    {% endfor %}
                    <!--Pagination links-->
                    {% for page_num in posts.iter_pages() %}
                        {% if page_num %}
                             {% if posts.page == page_num %}
                             <a href="{{url_for('user_posts',username=user.username,page=page_num)}}" class="btn btn-info mb-4 ">{{ page_num}}</a>
                        
                             {% else %}
                             <a href="{{url_for('user_posts',username=user.username,page=page_num)}}" class="btn btn-outline-info mb-4 ">{{ page_num}}</a>
                        
                             {% endif %}
                        {% else %}
                        ...
                        {% endif %}
                    {% endfor %}
                    
                </div>
                <div class="col-md-4 menu-opciones">
                   
                    <ul>
                        <li>
                            <a class="btn btn-success" href="{{url_for('add_post')}}">Agregar</a>
                        </li>
                       
                    </ul>
                </div>
        
        </div>
        
        </div>
            
        {% endblock content %}
        